@font-face {
    font-family: "linea-basic-10";
    src: url("fonts/linea-basic-10.eot");
    src: url("fonts/linea-basic-10.eot?#iefix") format("embedded-opentype"), url("fonts/linea-basic-10.woff") format("woff"), url("fonts/linea-basic-10.ttf") format("truetype"), url("fonts/linea-basic-10.svg#linea-basic-10") format("svg");
    font-weight: normal;
    font-style: normal
}

::-moz-selection {
    background-color: #c69963;
    color: #fff
}

::selection {
    background-color: #c69963;
    color: #fff
}

.heading-secondary {
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: 700;
    display: inline-block;
    color: transparent;
    letter-spacing: .2rem;
    -webkit-transition: all .2s;
    transition: all .2s
}

@media only screen and (max-width: 56.25em) {
    .heading-secondary {
        font-size: 3rem
    }
}

@media only screen and (max-width: 37.5em) {
    .heading-secondary {
        font-size: 2.5rem
    }
}

.u-margin-bottom-medium {
    margin-bottom: 4rem !important
}

@media only screen and (max-width: 56.25em) {
    .u-margin-bottom-medium {
        margin-bottom: 3rem !important
    }
}

.btn,
.btn:link,
.btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    display: inline-block;
    border-radius: 10rem;
    -webkit-transition: all .2s;
    transition: all .2s;
    position: relative;
    font-size: 1.6rem;
    border: none;
    cursor: pointer
}

.btn:hover {
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px);
    -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2)
}

.btn:hover::after {
    -webkit-transform: scaleX(1.4) scaleY(1.6);
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0
}

.btn:active,
.btn:focus {
    outline: none;
    -webkit-transform: translateY(-1px);
    transform: translateY(-1px);
    -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2)
}

.btn--green {
    background-color: #c69963;
    color: #fff
}

.btn--green::after {
    background-color: #c69963
}

.btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    -webkit-transition: all .4s;
    transition: all .4s
}

.btn-text:link,
.btn-text:visited {
    font-size: 1.6rem;
    color: #c69963;
    display: inline-block;
    text-decoration: none;
    border-bottom: 1px solid #c69963;
    padding: 3px;
    -webkit-transition: all .2s;
    transition: all .2s
}

.btn-text:hover {
    background-color: #c69963;
    color: #fff;
    -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px)
}

.btn-text:active {
    -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    -webkit-transform: translateY(0);
    transform: translateY(0)
}

.form__group:not(:last-child) {
    margin-bottom: 2rem
}

.form__input {
    font-size: 1.5rem;
    font-family: inherit;
    color: inherit;
    padding: 1.5rem 2rem;
    border-radius: 2px;
    background-color: rbga(#fff, 0.5);
    border: none;
    border-bottom: 3px solid transparent;
    width: 90%;
    display: block;
    -webkit-transition: all .3s;
    transition: all .3s
}

@media only screen and (max-width: 56.25em) {
    .form__input {
        width: 100%
    }
}

.form__input:focus {
    outline: none;
    -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
    border-bottom: 3px solid #c69963
}

.form__input:focus:invalid {
    border-bottom: 3px solid #ff7730
}

.form__input::-webkit-input-placeholder {
    color: #999
}

.form__label {
    font-size: 1.2rem;
    font-weight: 700;
    margin-left: 2rem;
    margin-top: .7rem;
    display: block;
    -webkit-transition: all .3s;
    transition: all .3s
}

.form__input:placeholder-shown+.form__label {
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translateY(-4rem);
    transform: translateY(-4rem)
}

.form__radio-group {
    width: 49%;
    display: inline-block
}

@media only screen and (max-width: 56.25em) {
    .form__radio-group {
        width: 100%;
        margin-bottom: 2rem
    }
}

.form__radio-input {
    display: none
}

.form__radio-label {
    font-size: 1.6rem;
    cursor: pointer;
    position: relative;
    padding-left: 4.5rem
}

.form__radio-button {
    height: 3rem;
    width: 3rem;
    border: 5px solid #c69963;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    left: 0;
    top: -.4rem
}

.form__radio-button::after {
    content: "";
    display: block;
    height: 1.3rem;
    width: 1.3rem;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: #c69963;
    opacity: 0;
    -webkit-transition: opacity .2s;
    transition: opacity .2s
}

.form__radio-input:checked~.form__radio-label .form__radio-button::after {
    opacity: 1
}

.row {
    max-width: 114rem;
    margin: 0 auto
}

.row:not(:last-child) {
    margin-bottom: 8rem
}

@media only screen and (max-width: 56.25em) {
    .row:not(:last-child) {
        margin-bottom: 6rem
    }
}

@media only screen and (max-width: 56.25em) {
    .row {
        max-width: 50rem;
        padding: 0 3rem
    }
}

.row::after {
    content: "";
    display: table;
    clear: both
}

.section-login {
    padding: 8rem 0;
    background-image: -webkit-gradient(linear, left top, right bottom, from(#c69963), to(#54483A));
    background-image: linear-gradient(to right bottom, #c69963, #54483A);
}

@media only screen and (max-width: 56.25em) {
    .section-login {
        padding: 3rem 0
    }
}

.login {
    background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 50%, transparent 50%), url(../img/gal-1.jpeg);
    background-size: 100%;
    border-radius: 3px;
    -webkit-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2);
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2)
}

@media only screen and (max-width: 75em) {
    .login {
        background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 65%, transparent 65%), url(../img/gal-1.jpeg);
        background-size: cover
    }
}

@media only screen and (max-width: 56.25em) {
    .login {
        background-image: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0.9)), to(rgba(255, 255, 255, 0.9))), url(../img/gal-1.jpeg);
        background-image: linear-gradient(to right, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 100%), url(../img/gal-1.jpeg)
    }
}

.login__form {
    width: 50%;
    padding: 3rem
}

@media only screen and (max-width: 75em) {
    .login__form {
        width: 65%
    }
}

@media only screen and (max-width: 56.25em) {
    .login__form {
        width: 100%
    }
}